.friendMessage {
    min-height: 77px;
    margin-top: 30px;
}

.friendImageAndText {
    display: flex;
    align-items: end;
}

.friendImageAndText img {
    height: 48px;
    width: 48px;
}

.friendText {
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 8px 14px;
    margin-left: 14px;

    color: #000000;
    background-color: #F5F7FB;
    border-radius: 10px 10px 0;
}

.friendText:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -14px;
    height: 10px;
    width: 14px;
    background: linear-gradient(to bottom right, transparent 50%, #F5F7FB 0);
}

.friendName {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.friendMessageText {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.friendTime {
    font-size: 10px;
    font-weight: 600;

    margin: 5px 11px;
}
